Source: jruby-jsvc
Section: unknown
Priority: extra
Maintainer: Nick Griffiths <nicobrevin@gmail.com>
Build-Depends: debhelper (>= 8.0.0), maven2
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/jruby-jsvc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/jruby-jsvc.git;a=summary

Package: libjruby-jsvc-ruby
Architecture: all
Depends: ruby, liberubis-ruby
Recommends: jruby, jsvc
Description: Library for initd scripts for jruby-jsvc
 Library used to build initd scripts for jruby-jsvc daemons.  Not actually needed to be installed in order to run jruby-jsvc daemons, but useful for generating initd scripts, possibly when building your own debian packages

Package: libjruby-jsvc-java
Architecture: all
Depends: default-jdk | openjdk-6-jre | openjdk-7-jre, jruby | jruby1.4 | jruby1.5 | jruby1.6, libcommons-daemon-java, jsvc
Description: Java library for jruby-jsvc daemons
 Java library used for starting up and controlling jruby daemons with jsvc

Package: jruby-jsvc-initd
Architecture: all
Depends: libjruby-jsvc-ruby
Description: Command for building initd scripts for jruby-jsvc
 Command, written in plain ruby, for building initd scripts that you can use with jruby-jsvc.  This doesn't actually use jruby, as it doesn't need to, and there is better package support on debian for ruby-1.8.7

Package: jruby-jsvc-example
Architecture: all
Depends: libjruby-jsvc-ruby, jruby-jsvc-initd
Description: Example daemon application using jruby-jsvc
 Basic application that brings all the pieces together, showing you how to deploy a ruby daemon using jruby-jsvc
