Source: jruby-jsvc
Section: unknown
Priority: extra
Maintainer: Nick Griffiths <nicobrevin@gmail.com>
Build-Depends: debhelper (>= 8.0.0), maven2
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/jruby-jsvc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/jruby-jsvc.git;a=summary

Package: jruby-jsvc
Architecture: all
Depends:
Recommends: ruby | jruby1.5 | jruby1.4 | jruby, liberubis-ruby
Description: initd support for jruby-jsvc
 Install files for building

